{% extends 'base.html' %}

{% block content %}

    <main>
        
        <!-- page-banner-area-end -->

        <!-- cart-area-start -->
        <section class="cart-area pt-120 pb-120">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                        
                           <div class="table-content table-responsive">
                              <table class="table">
                                    <thead>
                                       <tr>
                                          <th class="product-thumbnail">Images</th>
                                          <th class="cart-product-name">Product</th>
                                          <th class="product-price">Unit Price</th>
                                          <th class="product-quantity">Quantity</th>
                                          <th class="product-subtotal">Total</th>
                                          <th class="product-remove">Remove</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                       <tr>
                                          <td class="product-thumbnail"><a href="{% url 'productdisplay' cart_item.product.id %}"><img src="{{cart_item.product.image}}" alt=""></a></td>
                                          <td class="product-name"><a href="{% url 'productdisplay' cart_item.product.id %}">{{cart_item.product.name}}</a></td>
                                          <td class="product-price"><span class="amount">{{cart_item.product.offer_price}}</span></td>
                                          <td class="product-quantity">
                                            <!--  -->
                                                <div class="product-quantity mr-20">
                                                    <a href="{% url 'remove_cart' cart_item.product.id %}">-</a>
                                                    <input type="button" value="{{cart_item.quantity}}">
                                                    <a class="inc qtybutton" href="{% url 'add_cart' cart_item.product.id %}">+</a>
                                                  
                                                </div>
                                          </td>
                                          <!-- there are two functions for deleting the cart because in my code we dont create cartid for logged in user if he create a cart -->
                                          <td class="product-subtotal"><span class="amount">{{cart_item.cartprice}}</span></td>
                                          
                                          <td class="product-remove"><a href="{% url 'delete_cart' cart_item.id %}" ><i class="fa fa-times"></i></a></td>
                                          <td class="product-remove">
                                            <span 
                                            style="cursor:pointer"
                                            hx-delete ="{% url 'delete_cart' cart_item.id %}"
                                            hx-target = "#film-list"
                                            hx-confirm = 'are you sure you wish to delete'><i class="fa fa-times"></i></span></td>

                                          <!-- <td class="product-remove"><span 
                                            hx-delete="{% url 'delete_cart' cart_item.id %}"
                                            hx-target>x</span></td> -->

                                        
                                          <!-- <td> <form action="{% url 'deleteloggedin' cart_item.product.id %}"method="POST">
                                            {% csrf_token %}
                                      
                                            <a   data-bs-toggle="modal" data-bs-target="#delete-{{cart_item.product.id}}">
                                              <button type="" class="btn btn-danger btn-block mb-4">Delete</button>
                                      
                                            </a>
                                            <div class="modal fade" id="delete-{{cart_item.product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    
                                                    <p style="color:#000000 ;">Do you really want to delete {{cart_item.name}}</p>
                                                  </div>
                                                  <div class="modal-footr d-flex justify-content-between p-3">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    
                                                    <a href="{% url 'deleteloggedin' cart_item.product.id %}"><button  class="btn btn-danger " style="background:dark-red;">Confirm</button></a>
                                                  </div>
                                                </div>
                                              </div>
                                              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                                            </div>
                                        </form></td> -->

                                          
                                          
                                       </tr>
                                       {% endfor %}
                                    </tbody>
                              </table>
                           </div>
                           <form action="{% url 'couponapply' %}" method="POST">
                            {% csrf_token %}
                           <div class="row">
                              <div class="col-12">
                                    <div class="coupon-all">
                                       <div class="coupon">
                                        
                                          <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                          <button class="tp-btn-h1" name="apply_coupon" type="submit">Apply
                                                coupon</button>
                                            {% for message in messages  %}
                                            {{message}}
                                            {% endfor %}
                                       </div>
                                       
                                    </div>
                              </div>
                            </form>
                           </div>
                           <div class="row justify-content-end">
                              <div class="col-md-5">
                                    <div class="cart-page-total">
                                       <h2>Cart totals</h2>
                                       <ul class="mb-20">
                                          <li>Subtotal <span>{{total}}</span></li>
                                          <li>tax <span>{{tax}}</span></li>
                                          <li>Total <span>{{grand_total}}</span></li>
                                       </ul>
                                       <a class="tp-btn-h1" href="{% url 'checkout' %}">Proceed to checkout</a>
                                    </div>
                              </div>
                           </div>
                      
                  </div>
               </div>
            </div>
         </section>
         <!-- cart-area-end -->

        <!-- cta-area-start -->
        <section class="cta-area d-ldark-bg pt-55 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item cta-item-d mb-30">
                            <h5 class="cta-title">Follow Us</h5>
                            <p>We make consolidating, marketing and tracking your social media website easy.</p>
                            <div class="cta-social">
                                <div class="social-icon">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#" class="rss"><i class="fas fa-rss"></i></a>
                                    <a href="#" class="dribbble"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">Sign Up To Newsletter</h5>
                            <p>Join 60.000+ subscribers and get a new discount coupon  on every Saturday.</p>
                            <div class="subscribe__form">
                                
                                    <input type="email" placeholder="Enter your email here...">
                                    <button>subscribe</button>
                           
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">Download App</h5>
                            <p>DukaMarket App is now available on App Store & Google Play. Get it now.</p>
                            <div class="cta-apps">
                                <div class="apps-store">
                                    <a href="#"><img src="assets/img/brand/app_ios.png" alt=""></a>
                                    <a href="#"><img src="assets/img/brand/app_android.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </section>
        <!-- cta-area-end -->

    </main>
    
    {% endblock %}